.privacy-container {
    /* max-width: 900px; */
    margin: 0 auto;
    padding: 2rem 6rem;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #111;
}

.back-link {
    display: inline-block;
    margin-bottom: 20px;
    color: #468aff;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

/* .title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
} */

.effective-date {
    font-size: 14px;
    color: #888;
    margin-bottom: 30px;
}

.back-link:hover {
    color: #ccc;
}

section {
    margin-bottom: 35px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 8px;
}

.privacy-image {
    width: 100%;
    max-width: 800px;
    height: 200px;
    background-color: #eee;
    display: block;
    margin: 40px auto;
}

@media screen and (max-width: 767px) {
    .privacy-container {
        padding: 2rem;
    }
}