.blog-hero {
  display: flex;
  justify-content: center;
  padding: 4rem 6rem;
}

.blog-bnr-inner {
  position: relative;
  width: 100%;
  max-width: 90vw;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}

.blog-bnr-bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}

.blog-bnr-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Dark transparent overlay */
  z-index: 2;
}

.blog-bnr-content {
  position: relative;
  z-index: 3;
  color: #fff;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.blog-bnr-content h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.blog-bnr-content p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
}

.blogs-expr-content {
  display: flex;
  gap: 3rem;
  padding: 6rem;
}

.blogs-drone-image {
  width: 50%;
  max-width: 550px;
  max-height: 450px;
  border-radius: 12px;
  object-fit: cover;
}

.blogs-drone-text-con {
  font-size: 1.2rem;
  line-height: 1.6;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blogs-drone-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.blogs-drone-text p {
  font-size: 1rem;
  /* margin: 1rem 0 0 0; */
}

.blogs-drone-heading {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.explr-serv-btn {
  background-color: #fff !important;
  color: #000 !important;
  filter: unset !important;

}

.explr-serv-btn:hover {
  background-color: #000 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}

/* About Us - Join Us */
.blogs-cta-video-section {
  position: relative;
  height: 50vh;
  width: auto;
  overflow: hidden;
  border-radius: 12px;
  margin: 2rem 6rem;
}

.blogs-background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.blogs-cta-overlay {
  position: relative;
  z-index: 1;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
  padding: 2rem;
}

.blogs-cta-heading {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.blogs-cta-button {
  background-color: white;
  color: black;
  padding: 12px 28px;
  border-radius: 12px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.blogs-cta-button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

/* Responsive */
@media (max-width: 767px) {
  .blog-hero {
    padding: 4rem 1rem;
  }

  .blog-bnr-content {
    padding: 2rem 1.5rem;
  }

  .blog-bnr-content h1 {
    font-size: 1.8rem;
  }

  .blog-bnr-content p {
    font-size: 0.95rem;
  }

  .blogs-expr-content {
    flex-direction: column;
    padding: 6rem 2rem;
  }

  .blogs-drone-image {
    width: unset;
    max-height: 350px;
  }

  .blogs-drone-text-con {
    font-size: 0.95rem;
    padding-left: 0px;
  }

  .blogs-drone-heading {
    text-align: left;
    font-size: 2.4rem;
  }
  .blogs-cta-video-section {
    height: 40vh;
    margin: 2rem 1rem;
  }
    .blogs-cta-heading {
    font-size: 1.8rem;
  }

  .blogs-cta-button {
    padding: 10px 20px;
    font-size: 0.95rem;
  }

  .blogs-cta-video-section {
    height: 40vh;
    margin: 2rem 1rem;
  }
}