.milestone-container {
  width: 100%;
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  box-sizing: border-box;
}

.milestone-header {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.timeline-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}

/* .timeline-scroll {
  overflow-x: auto;
  flex: 1;
} */
.timeline-scroll {
  overflow-x: auto;
  flex: 1;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.timeline-scroll::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}


.timeline {
  display: flex;
  align-items: center;
  gap: 3rem;
  /* padding: 2rem 0; */
  padding: 2.6rem 0 1rem 0;
  position: relative;
  min-width: max-content;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ccc;
  transform: translateY(-50%);
  z-index: 0;
}

.dot {
  position: relative;
  top: 3px;
  z-index: 1;
  text-align: center;
  color: #aaa;
  cursor: pointer;
  font-size: 0.9rem;
  min-width: 50px;
}

.dot::before {
  content: "";
  display: block;
  margin: 0 auto 0.5rem auto;
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
}

.dot.active {
  color: #fff;
  font-weight: bold;
}

.dot.active::before {
  background-color: white;
  border: 5px solid #4cb5f5;
  width: 10px;
  height: 10px;
}

.arrow-button {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 0.4rem 0.5rem 0.1rem 0.5rem;
  color: #fff;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  flex-shrink: 0;
}

.arrow-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.milestone-details {
  display: flex;
  margin-top: 1.5rem;
  padding: 1rem;
  width: 100%;
  max-width: 90vw;
  margin-inline: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

.milestone-details-year {
  font-size: 10rem;
  font-weight: 700;
}

.milestone-desc-container {
  width: 100%;
}

@media (max-width: 768px) {
  .timeline {
    gap: 1rem;
  }
}